src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9b9e4913-dfed-4ece-ae35-16bdea31a3e1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="9c43bb49-4f21-47eb-9943-46e98bd51387" >
		<http:listener doc:name="Listener" doc:id="665319c2-eca7-411b-9d06-9ca0fb739962" path="test" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="4fd86095-3238-44e1-aa0c-11562397961f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"Message":"success"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8253e16c-11f9-45ff-a355-3c83bfcfa758" message="#[payload]"/>
		<set-payload value='#["test123"]' doc:name="Set Payload" doc:id="da32f357-83b1-42b0-b1d4-8e74047e4b86" />
		<set-payload value='#["pullrequest"]' doc:name="Set Payload" doc:id="4b123693-ebab-4e42-aea7-303af013c6ec" />
	</flow>
</mule>
